<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sauce Demo Test">
    <test name="Selenium Test">

<classes>
    <class name="DemoTest.CaseOneLoginPage">
    <methods>
        <include name="loginSauceDemoTest"/>
        <include name="logOutSauceDemoTest"/>
    </methods>
</class>
</classes>
    </test>
</suite>